name: test-workflow
on: [push, pull_request]
jobs:
  test-job:
    strategy:
      matrix:
        optione: [headless, selenoid]
    runs-on: ubuntu-latest
    #if: ${{ false }}  # disable for now
    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v2

      - run: echo ${{ matrix.option }}
      - run: echo $GITHUB_WORKFLOW
      - run: echo $GITHUB_RUN_ID
      - run: echo $GITHUB_RUN_NUMBER
      - run: echo $GITHUB_JOB
      - run: echo $GITHUB_ACTION
      - run: echo $GITHUB_ACTIONS
      - run: echo $GITHUB_REPOSITORY
